@use "@material/theme" with (
  $primary: #000000,
  $secondary: #202020,
  $on-primary: #f0f0f0,
  $on-secondary: #d0d0d0,
);
@import 'material-components-web';

//$material-icons-font-path: '~material-icons/iconfont/';
//@import '~material-icons/iconfont/material-icons.scss';

body {
    class: "mdc-typography";
}
